* {
    margin: 0;
    padding: 0;
    font-family: 'Embed code', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

.navbar-container {
    width: 100%;
    height: 80%;
    padding: 0 2rem;
    background-color: #71a4c7;
}

nav {
    position: relative;
}

.logo {
    width: 130px;
    margin-top: 5px;
    
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    margin-left: 25px;
    text-transform: uppercase;
}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.navbar-items a:hover {
    color: #ccc;
}

.main-banner {
    background-image: url("../img/wallpaper\ fundo\ hamburguer1.avif");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;

}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 2rem;
}

.frase-efeito {
    padding: 5rem 0;

}

.frase-efeito blockquote {
    display: flex;
    width: 90%;
    margin: 0 auto;
    font-family: 'Embed code';
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
    font-size: 3.5rem;
    font-style: 'Ended Code';
}

.catalogo-hmb {
    padding-bottom: 5rem;
    text-align: center;
}

.catalogo-hmb img{
    width: 200px;
}

.catalogo-hmb h2, p{
    font-size: 20px;
    padding-top: 15px;
}

.price{
    padding: 10px;
}

.catalogo-lanches {
    display: flex;
    justify-content: space-around;
}

.bebidas{
    display: flex;
    justify-content: space-around; 
    text-align: center;
}

.bebidas img {
    width: 200px;
}

.bebidas h2{
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
}





